
h1{
  text-align: center;
  }

li{
  cursor: pointer;
  color: #0088cc;
}

li:hover{
  text-decoration: underline;
}

ul{
  float: left
}

p{
  float: right;
  display: none;
  border-style: solid 2px;
  background-color: white;
}

class.clicked{
  color: red;
}
